<head>
    <title>MyApp</title>
</head>
<div style="text-align:center">
    <h1>
        {{ title }}
    </h1>
</div>
<form class="container" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div>
        <input type="text" class="form-control" placeholder="Search gif's" name="searchString" formControlName="searchString">
        <input type="submit" class="form-control" value="Submit">
    </div>
</form>
<div class="center">
    <ul>
        <li *ngFor="let gif of giphies">
            <img src="{{gif.images.original.url}}" class="tn" width="200" height="150">
        </li>
    </ul>
</div>
<!-- <div *ngFor="let g of giphies">
    <img src="{{g.images.original.url}}">
</div> -->